################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
bin
obj
packages
*.nupkg
*.exe
*.user
fonts
.vs